/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #1c07d692;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
}
button:hover {
  box-shadow: 0px 0px 8px #ffffff;
  transform: scale(1.05);
}
h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
h2.titulo span {
  color: #1c07d692;
}
/* estilo do cabeçario*/
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transform: 0.2s;
}
header a:hover {
  color: #fff;
  transform: scale(1.1);
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}
.img-cbc {
  width: 280px;
  height: auto;
}

/* estilo do topo */

section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo h1 span {
  color: #1c07d692;
}
.topo-do-site .txt-topo p {
  color: #fff;
  margin: 40px 0px;
}

.img-topo {
  width: 300px;
  height: auto;
  border-radius: 50%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
.img-topo img {
  border: 10px solid #1c07d692;
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
/*estilo das epescialidades */
section.especialidades {
  padding: 40px 4%;
}
section.especialidades .flex {
  gap: 60px;
}
.especialidades .especialidades-box {
  color: #fff;
  padding: 40px 4%;
  margin-top: 45px;
  border-radius: 20px;
  transition: 0.2s;
}
.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff8f;
}
.especialidades .especialidades-box i {
  font-size: 70px;
  color: #1c07d692;
}
.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

section.sobre {
  padding: 100px 4%;
}
section.sobre .flex {
  align-items: center;
  gap: 60px;
}
.sobre .txt-sobre {
  color: #fff;
}
.img-top {
  width: 320px;
  height: 400px;
  border-radius: 5px;
}
.sobre .txt-sobre h2 {
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
  color: #1c07d692;
  display: block;
}
.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}
.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #1c07d692;
  font-size: 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.2s;
  color: #ffffff;
}

section.portifolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff22;
}
.img-port {
  width: 400px;
  height: 500px;
  cursor: pointer;
  border-radius: 20px;
}

section.portifolio .flex {
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* enviar msg */
section.formulario {
  padding: 80px 4%;
}
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  margin-top: 40px;
}
form input,
form textarea {
  width: 100%;
  background-color: rgb(33, 33, 33);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}
form textarea {
  resize: none;
  max-height: 200px;
}
form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}
form .btn-enviar input {
  width: 120px;
  background-color: #1c07d692;
  color: rgb(255, 251, 251);
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #ebebed;
  transform: scale(1.05);
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000000;
  gap: 20px;
}
.texto {
  font-size: 50px;
  margin-bottom: 20px;
  color: #1c07d692;
  font-family: "Poppins", serif;
}
.paragrafo {
  font-size: 20px;
  color: #ffffff4a;
  font-family: "Poppins", serif;
}
.btn-home {
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 900;
  background-color: #1c07d692;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins", serif;
}
.btn-home:hover {
  box-shadow: 0px 0px 8px #1c07d692;
  transform: scale(1.05);
}

/* roda pe */
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}
footer .flex {
  justify-content: space-between;
}
.line-footer {
  padding: 20px 0;
}
footer .line-footer p i {
  color: #1c07d692;
  font-size: 22px;
}
footer .line-footer p a {
  color: #fff;
  text-decoration: none;
}
.borda {
  border-top: 2px solid #1c07d692;
}
.certificado img {
  width: 340px;
  height: auto;
  background-color: rgb(15, 16, 16);
  margin: 15px 1%;
}
.certificado h1 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.certificado a {
  display: flex;
  justify-content: center;
  margin: 0.1px 42%;
}
/* rodar em px menor*/
@media screen and (max-width: 1020px) {
  .flex {
    flex-direction: column;
  }
  .sobre .flex {
    flex-direction: column-reverse;
  }
  .topo-do-site .flex {
    flex-direction: column-reverse;
  }
  /*cabeçalho*/
  .menu-desktop,
  .btn-contato {
    display: none;
  }
  section.topo-do-site .flex {
    gap: 85px;
  }
  section.topo-do-site {
    padding: 0px 8%;
  }
  .topo-do-site h1 {
    font-size: 30px;
  }
  h2.titulo {
    font-size: 34px;
    line-height: 30px;
  }
  section.especialidades {
    padding: 40px 8%;
  }
  section.sobre {
    padding: 80px 8%;
  }
  .sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
  }
  .btn-social {
    text-align: center;
  }
  .img-sobre img {
    width: 100%;
  }
  .img-port {
    width: 100%;
  }
  section.portifolio {
    gap: 60px 8%;
  }
  .certificado img {
    width: 100%;
    padding: 8%;
  }
  .certificado .btn-home {
    display: inline-block;
    text-align: center;
    margin: 0px 90px;
  }
  .certificado h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
